/* tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  /* Colors */
  --primary-color: #1D1D1D;
  --secondary-color: #333333;
  --tertiary-color: #d3d3d3;
  --accent-color: #EEF0F2;
  --background-color: #F9FAFB;

  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  color-scheme: light dark;
  color: (var(--primary-color));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}
.monaco-editor .margin-view-overlays .line-numbers {
  font-size: 12px;
  color: #ccc;
}

/* active line number color */
.monaco-editor .line-numbers.active-line-number {
  color: #adadad;
}