/* tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  /* Colors */
  --primary-color: #1D1D1D;
  --secondary-color: #333333;
  --tertiary-color: #d3d3d3;
  --accent-color: #EEF0F2;
  --accent2-color: #F9FAFB;
  --background-color: #ffffff;

  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  color-scheme: light dark;
  color: (var(--primary-color));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

/* monaco */
.monaco-editor .margin-view-overlays .line-numbers {
  font-size: 12px;
  color: #afafaf;
}

/* active line number color */
.monaco-editor .line-numbers.active-line-number {
  color: #000000;
}

/* sortablejs */
.sortable-chosen>.cell {
  box-shadow: rgba(44, 42, 44, 0.2) 0px 8px 24px;
  outline: 2px solid #3b82f6;
  opacity: 0.5;
}
.sortable-ghost {
  /* outline: 5px solid #3b82f6; */
  border: 2px solid #0CA5E9;
  border-radius: 10%;
  opacity: 1;
  height: 0px;
  overflow: hidden;
}
/* .multi-drag {
  outline: 2px solid rgb(43, 134, 199);
} */
